.benefitBackground {
  background-color: #F4F4F4;
}

.benefitBackground.topRow-planName {
  padding: 0;
}

.record-values:first-child .section-div:first-child div:nth-child(2) {
  white-space: nowrap;
}

.benefitBackground > .plan-title-fix {
  min-height: 87px;
  max-height: 87px;
  padding: 0 10px;
}

.benefitBackground > .custom_remove_link {
  padding-left: 10px;
  padding-bottom: 12px;
  padding: 0 0 12px 10px;
}

.details > .topRow-planName {
  padding: 8px 10px;
  font-size: 13px;
}

.red-text {
  color: red;
  line-height: 2;
  font-size: 9px;
}

.green-text {
  color:green;
  line-height: 2;
  font-size: 9px;
}

.black-color {
  color: black;
}

.heading-bold {
  padding: 7px 5px;
  color: #514f4d;
  font-weight: 600;
  background-color: #d8d8d8;
}
.details {
  display: flex;
  border: 1px solid #d8d8d8;
  border-top: none;
  align-items: inherit;
}
.label {
  padding: 8px 15px;
}

.slds-large-size--1-of-14.slds-small-size--1-of-5 {
  width: 7.142857142857143%;
}

.slds-large-size--1-of-12.slds-small-size--1-of-4 {
  width: 8.33333333%;
}

.slds-large-size--1-of-10.slds-small-size--1-of-3 {
  width: 10%;
}

.slds-large-size--1-of-8.slds-small-size--1-of-2 {
  width: 12.5%;
}