<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Customer_Portal_Notifications/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterLogo>Communities_Shared_Document_Folder/incino_logo_220x93_jpg.jpg</emailFooterLogo>
    <emailFooterText>ncino Inc. Partner Portal</emailFooterText>
    <emailSenderAddress>demomaster@ncino.com</emailSenderAddress>
    <emailSenderName>Partner Portal</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Customer_Portal_Notifications/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>NDOC__Universal_Document_Manager_Edit_Details_Permission</permissionSet>
        <permissionSet>NDOC__Document_Manager_Upload_Permissions</permissionSet>
        <permissionSet>NDOC__Document_Manager_Edit_Permissions</permissionSet>
        <permissionSet>LLC_BI__Lock_Underwriting_Statements</permissionSet>
        <permissionSet>LLC_BI__Configure_Underwriting_Statements</permissionSet>
        <permissionSet>LLC_BI__Edit_Underwriting_Statements</permissionSet>
        <permissionSet>LLC_BI__Configure_Underwriting_Statements_All</permissionSet>
        <permissionSet>LLC_BI__Edit_Underwriting_Statements_All</permissionSet>
        <permissionSet>LLC_BI__Lock_Underwriting_Statements_All</permissionSet>
        <permissionSet>Password_Does_Not_Expire</permissionSet>
        <permissionSet>LLC_BI__Edit_Underwriting_Statements_Column_Source</permissionSet>
        <permissionSet>NDOC__Document_Manager_Approved_Permissions</permissionSet>
        <permissionSet>LLCLP__Laser_Pro</permissionSet>
        <permissionSet>nCino_Project_Management_Configuration</permissionSet>
        <permissionSet>nCino_Project_Management_Validation</permissionSet>
        <permissionSet>NDOC__Document_Manager_Portal_Admin</permissionSet>
        <permissionSet>NDOC__Import_Relationship_Docs_to_Loan_DocMan</permissionSet>
        <permissionSet>LLC_BI__Edit_Underwriting_Chart_of_Accounts</permissionSet>
        <permissionSet>LLC_BI__Underwriting_Edit_Debt_Schedule</permissionSet>
        <permissionSet>LLC_BI__Product_Package_Pending_Loan_Edit_Permission</permissionSet>
        <permissionSet>nPortal__Create_Customer_Portal_User</permissionSet>
        <permissionSet>nFORCE__UI_Framework_Administrator</permissionSet>
        <permissionSet>nFORCE__UI_Framework_User</permissionSet>
        <permissionSet>NDOC__Document_Manager_Empty_Staging_Area_Permissions</permissionSet>
        <permissionSet>NDOC__Import_Collateral_Docs_to_Loan_DocMan</permissionSet>
        <permissionSet>NDOC__Universal_Document_Manager_Delete_Permission</permissionSet>
        <profile>ncino partner portal</profile>
        <profile>admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Partner_Portal1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Partner_Portal</site>
    <status>DownForMaintenance</status>
    <tabs>
        <customTab>LLC_BI__Loan__c</customTab>
        <customTab>LLC_BI__Product_Package__c</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>report</standardTab>
    </tabs>
    <urlPathPrefix>PartnerPortal</urlPathPrefix>
    <welcomeTemplate>Customer_Portal_Notifications/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
