.slds-large-show {
  padding: 20px;
}
.custom_modal_header{
  display: flex;    
}
.custom_title{
  font-size: 1.75rem;
  font-weight: 400;
  color: #1564bf;
}
.custom_close_button{
  position: absolute;
  right: 1rem;
}

.custom_close_button svg{
  fill: #0070d2;
}